/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
 font-family: Arial; 
}
#wrapper{
 width: 970px;
 height: 880px;
 padding-top: 15px;
 background-color: #245176;
 margin: 0px auto;
}
#top-header{
	width: 970px;
	height: 140px;
}
#top-header-image {
	width: 400px;
	float: left;
}
#form-top{
	float: right;
	display: inline-block;
	width: 280px;
}#form-top p{
	margin-right: 40px;
	padding-bottom: 5px;
	text-align: right;
	font-size: 14px;
	color: white;
}
#fsearch {
	padding-top: 10px;
 	padding-left: 35px;
 	margin-right: 350px;
 	width:230px;
 	height:36px;
 	background-color: #444444;
 	border-radius: 5px;
}
#form-top button{
	background-color: #245176;
	color: white;
	font-size: 12px;
}
a {
	color: yellow;
}
#img-top {
	width: 100%;
}
input {
	text-align: center;
	color: grey;
}
/*End -- top header */
/*START -- Nav Menu */
#nav-menu {
	width: 800px;
	margin-left: 80px;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: both;
	background-color: #447cac;
	border-radius: 10px;
}
#nav-menu li{
	display: inline-block;
	padding-left: 55px;
	color: white;
}
/*END -- Nav Menu */
/*START -- Top Content */
#top-content {
	vertical-align: top;
	width:150px;
	margin-top: 20px;
	margin-left: 130px;
	display: inline-block;
}
#top-content a{
	color: white;
}
#top-content ul{
	width: 200px;
	color: yellow;
	vertical-align: top;
}
#top-content li {
	text-align: center;
	list-style-type: none;
	padding-bottom: 10px;
}
#top-content-right {
	width: 500px;
	margin-top: 20px;
	margin-left: 80px;
	display: inline-block;
	text-align: center;
}
#top-content-right p{
	color: white;
	padding-bottom: 8px;
}
#top-content-right li{
	color: yellow;
	padding-bottom: 10px;
	font-size: 18px;
	list-style-type: none;
	font-style: italic;
}
/*END -- Top Content */
/*START -- Bottom Content */
#bottom-content {
	width: 970px;
	height: 235px;
	background-color: white;
	padding-top: 20px;
	text-align: center;
}
#bottom-content h3 {
	padding-bottom: 10px;
}
#bottom-content-left {
	width: 400px;
	height: 150px;
	display: inline-block;
	padding-top: 10px;
    border-top: 4px solid #7ab5eb;
	vertical-align: top;
}
#bottom-content-right {
	width: 400px;
	height: 150px;
	display: inline-block;
	margin-left: 100px;
	border-top: 4px solid #7ab5eb;
	vertical-align: top;
}
#bottom-content ul{
	margin-top: 10px;
	list-style-type: square;
	color: black;
}
#bottom-content a {
	color: #7ab5eb;
	text-decoration-line: none;
}
/*END -- Bottom Content */
/*START -- Footer Menu */
#footer-menu {
	width: 800px;
	height: 50px;
	margin-left: 120px;
	padding-top: 70px;
	clear: both;

}
#footer-menu li{
	display: inline-block;
	padding-left: 55px;
	color: #7ab5eb;
}
/*END -- Footer Menu */
/*START -- Copyright */
#copyright {
	text-align: center;
	font-size: 12px;
	color: #7ab5eb;
}
/*END -- Copyright */